@font-face {
	font-family: iran-yekan-Thin;
	src: url(./font/Qs_Iranyekan\ thin.ttf);
}
@font-face {
	font-family: iran-yekan-Light;
	src: url(./font/Qs_Iranyekan\ light.ttf);
}
@font-face {
	font-family: Montserrat-Thin;
	src: url(./font/Montserrat-Thin.otf);
}
@font-face {
	font-family: Montserrat-Light;
	src: url(./font/Montserrat-Light.otf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(./font/Montserrat-Bold.otf)
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #eeeeee;
}
.container{
	width: 100vw;
	height: 100vh;
}
.header{
	text-align: center;
	margin: 20px;
}
.header h4{
	font-family: iran-yekan-Thin;
}
.header p{
	font-family: Montserrat-Thin;
	font-size: 8px;
	color: #5e5e5e;
	letter-spacing: 4px;
	margin-top: -2px;
}
.product{
	width: 93%;
	height: 525px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border-radius: 6px;
	margin: 15px auto;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.category{
	width: 93%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
	padding: 25px 0 15px 0;
}
.item{
	display: flex;
	width: 10%;
	height: 35px;
	flex-direction: column;
}
.category img{
	height: 70%;
	margin: auto;
}
.category span{
	font-family: Montserrat-Thin;
	font-size: 40px;
	margin: -10px 0 0 3px;
}
.item p{
	font-family: iran-yekan-Light;
	color: #5e5e5e;
	font-size: 6.5px;
	text-align: center;
}
.active-icon{
	border-bottom: 2px solid #404040;
	box-sizing: content-box;
	padding: 11px 0 7px 0;
}
.bergers{
	display: flex;
	flex-wrap: wrap;
	width: 93%;
	justify-content: space-between;
}
.berger{
	max-width: 30.8%;
	height: 152px;
	display: flex;
	flex-direction: column;
	margin: 8px 0;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	padding: 5px 5px 0 5px;
	position: relative;
}
.berger img{
	max-width: 85%;
	margin: 8.5px auto -5px auto;
}
.berger h6{
	font-family: iran-yekan-Thin;
}
.berger p:first-of-type{
	font-family: iran-yekan-Light;
	color: #5e5e5e;
	font-size: 5.5px;
	margin: -3px 0 5px 0;
}
#discount{
	position: absolute;
	left: 1px;
	bottom: 9px;
	width: 40px;
	display: none
}
#discount div{
	font-family: Montserrat-Light;
	display: inline-block;
	font-size: 6px;
	direction: ltr;
	color: #ee3552;
	text-decoration: line-through;
	margin: 0 2px -8px 0;
}
#discount span{
	width: 11px;
	font-family: Montserrat-Light;
	font-size: 5px;
	direction: ltr;
	background-color: #ee3552;
	color: #eeeeee;
	border-radius: 5px 0 5px 5px;
	text-align: center;
}
.berger p:last-of-type{
	font-family: Montserrat-Light;
	font-size: 9px;
	direction: ltr;
}
.berger p:last-of-type span{
	font-family: iran-yekan-Light;
	font-size: 5px;
	margin: 1px;
}
.active-berger{
	border: 1px solid #000000;
	border-bottom: 14.5px solid #000000;
}
#add{
	height: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: iran-yekan-Thin;
	font-size: 16px;
}
#add span:nth-child(2){
	font-family: Montserrat-Bold;
	font-size: 10px;
}
#add span:nth-child(3){
	font-family: iran-yekan-Thin;
	font-size: 8px;
}
.cart{
	width: 93%;
	height: 120px;
	position: relative;
	background-color: #ffffff;
	border-radius: 6px;
	margin: 15px auto;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.total{
	width: 23%;
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;
	align-items: center;
}
.total span{
	font-family: Montserrat-Light;
	font-weight: bold;
	font-size: 35px;
}
.total p{
	font-family: iran-yekan-Light;
	direction: rtl;
	font-size: 8px;
	line-height: 8.5px;
	display: inline-block;
	width: 40px;
	margin: 0 5px;
}
.total-order{
	width: 73%;
	position: absolute;
	right: 105px;
	height: 50%;
	display: flex;
	align-items: center;
}
.order{
	width: 15%;
	height: 70%;
	position: relative;
	margin: 0 0 0 15px;
}
.order img{
	max-height: 80%;
	position: absolute;
	bottom: 0;
}
.order p{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	padding: 0 0 10px 0;
	position: absolute;
	left: 10%;
	top: 5%;
	font-family: iran-yekan-Light;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
}
.total-price{
	width: 90%;
	height: 50%;
	position: absolute;
	top: 55px;
	right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #eeeeee;
}
.price{
	height: 90%;
	padding: 8px 0;
}
.price h3{
	font-family: Montserrat-Light;
	font-size: 23px;
	direction: ltr;
}
.price span{
	font-size: 10px;
	font-family: iran-yekan-Thin;
}
.price p{
	font-family: iran-yekan-Light;
	font-size: 9px;
	direction: ltr;
	margin-top: -4px;
}
#next{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #ee3552;
	position: relative;
	box-shadow: #ee3552 5px 7px 15px -5px , #ee3552 -5px 7px 15px -5px;
}
#next p{
	font-family: Montserrat-Thin;
	font-size: 45px;
	color: #ffffff;
	position: absolute;
	left: 30%;
	bottom: -15%;
}